body{
    background-color: rgb(227, 242, 245);
    font-family: 'Audiowide', cursive;
}
h3{
    text-align: right;
}

#result,#resultUSD{
    font-size: 30px;
    height: 50px;
}

#pesos, #usdinput{
    width: 250px;
    height: 30px;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
}

#calcularButton, #usd {
    width: 180px;
    height: 30px;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    margin: 0;
    padding: -4px;
}

